<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
	@import url("stylesheets/PJ1web.css");
	</style>
	<title>Origin</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="menuoculto">
		<img  class="icomenu" src="images/menuoculto.jpg" alt="ícone do menu oculto"></img>
		<img  class="logo2" src="images/logoorigin.jpg" alt="Logo da Origin"></img>
		<img class="lupa" src="images/lupa.jpg" alt="ícone de busca"></img>
	</div>
	<div class="menu1">
		<div class="menupt1">
			<img class="logoorigin" src="images/logoorigin.jpg" alt="Logo da Origin"></img>
			<form class="busca" action="/busca" method="POST">
				<input id="busca" name="busca" type="text">
				<input type="submit" value="Buscar">
			</form>
			<div class="logout"><a class="logoutlink" href="/users/logout">Log Out</a></div>
			<div class="menuext1"><span class="oracces">Origin Access</span><span class="itemmenu1">></span></div>
			<div class="menuext2"><span class="barrala"></span><span class="loja">Loja</span></div>
			<div class="menuin1"><span class="textmenuin">Explorar jogos</span><span class="itemmenu2">></span></div>
			<div class="menuin2"><span class="textmenuin">Ofertas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="itemmenu2">></span></div>
			<div class="linha"></div>
		</div>
		<div class="ophori">
			<p><span class="textmenuhor">Sobre</span><span class="ponto"> . </span><span class="textmenuhor">Baixar</span><span class="ponto"> . </span><span class="textmenuhor">Ajuda</span></p>
		</div>
	</div>
	<div class="menu2">
		<div class="botao4"><span class="textbot"><a href="/publish">Publicar conteúdo</a></span></div>
		<div class="botao1"><span class="textbot">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/users/login">Entrar</a></span></div>
		<div class="botao2"><span class="textbot"><a href="/users/register">Inscreva-se</a></span></div>
		<div class="linha2"></div>
		<div class="ptinferior">
			<img class="balon" src="images/baloes.jpg" alt="Imagem de balões"></img><span class="textinfe">Preferências de idioma</span>
		</div>
	</div>	
		<div class="telaprincipal">
			<div class="propaganda1">
					<div class ="txt1prop1"><span class="texto1propaganda1">OFERTA DE APRECIAÇÃO AO JOGADOR</span></div>
					<div class ="txt2prop1"><span class="texto2propaganda1">Economize até 85% em títulos íncríveis até 14h BRT do dia 28 de agosto</span></div>
					<div class="botao3"><span class="textbot1"><b><center>Ver as ofertas</center></b></span> </div>
			</div>
			<div id="props">
			{{#each propaganda}}
			<div class="propaganda2" style="background-image: url('images/{{titulo}}P.jpg')">
				<div class="aretxtprop2">
					<div class="imgprop2">
						<img class="imagem" src="images/{{titulo}}S.jpg"></img>
					</div>
					<div class="divtxtpropaganda2">
						<span class="txtprincprop">{{titulo}}<br /></span>
						<span class="txtsecprop">{{descricao}}</span>
					</div>
				</div>
			</div>
			{{/each}}
			</div>
	</div>
	<script type="text/javascript" charset="utf-8">
		setInterval(function(){
			$("#props").load("/ #props");
		}, 5000);
	</script>
</body>
</html>