<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Publicação de conteúdo</h1>
    <form action="/publish" method="POST" enctype="multipart/form-data">
        <label for="titulo">Título da propraganda:</label>
        <input name="titulo" id="titulo" type="text"><br>
        <label for="descricao">Descrição da propaganda:</label>
        <input name="descricao" id="descricao" type="text">
        <p>Imagem principal:</p>
        <input type="file" name="imageP"><br>
        <p>Imagem secundária</p>
        <input type="file" name="imageS"><br>
        <input type="submit">
    </form>
</body>
</html>